<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.forge.device</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>forge</string>
			</array>
		</dict>
	</array>
	<key>FORGE_API_BASE_URL</key>
	<string>http://127.0.0.1:3001</string>
	<key>FORGE_USE_AUTH</key>
	<string>false</string>
</dict>
</plist>